		body {
			font-family: Calibri;
			background-image: url('maldivi.jpg');
			 background-attachment: fixed;
 			 background-size: cover;
		}
		.classy {
			 text-align: center;
		}
		table {
		  margin-left: auto;
		  margin-right: auto;
		  border-spacing: 0;
		  border: 1px solid #ddd;
		  background-color: #e6ffff;
		}
		th, td {
		  text-align: left;
		  padding: 16px;
		}
		th{
			cursor:pointer;
		}
		
		a:link,a:visited{
		   display: inline-block;
  		   text-decoration: none;
  		   background-color:lightBlue;
  		   color:black;
		  	padding:5px;
		  	border: 1px solid darkBlue;
		}
		
	   table a:link,a:visited{
  		   display: inline;
  		   text-decoration: underline;
		   background-color:transparent;
		   border: none;
		}
		
		.listClassy {
			 text-align: center;
		}
		
		ul.listComments {
			 list-style-type: none;
			 background-color: #e6ffff;
			 display: inline-block;
			 margin-left: auto;
		  	 margin-right: auto;
		  	 padding:5px;
		  	 text-align: left;
		}
		
		